<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav>
    <div class="sidenav-top-buttons">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu_open</mat-icon>
      </button>

      <button mat-icon-button routerLink=""><mat-icon>home</mat-icon></button>
    </div>
    <mat-divider></mat-divider>

    <mat-list class="menu-list">
      <div mat-subheader><mat-icon>people_alt</mat-icon> <span class="margin-left">USERS</span></div>

      <mat-list-item routerLink="users">
        <mat-icon>list</mat-icon><span class="margin-left">Users List</span>
      </mat-list-item>

      <mat-list-item routerLink="users/create">
        <mat-icon>add_circle_outline</mat-icon><span class="margin-left">Add User</span>
      </mat-list-item>

      <mat-divider></mat-divider>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="header">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span translate>title</span>

      <button mat-icon-button (click)="changeLanguage()">
        <mat-icon>language</mat-icon>
      </button>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
