<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav>
    <div class="sidenav-top-buttons">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu_open</mat-icon>
      </button>

      <button mat-icon-button (click)="navigateToRoute('')">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>

    <mat-list class="menu-list">
      <div mat-subheader>
        <mat-icon>people_alt</mat-icon> <span class="margin-left">USERS</span>
      </div>

      <mat-list-item class="list-item" (click)="navigateToRoute('users/list')">
        <mat-icon class="menu-icon">list</mat-icon
        ><span class="margin-left">Users List</span>
      </mat-list-item>

      <mat-list-item
        class="list-item"
        (click)="navigateToRoute('users/create')"
      >
        <mat-icon class="menu-icon">add_circle_outline</mat-icon
        ><span class="margin-left">Add User</span>
      </mat-list-item>

      <mat-divider></mat-divider>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="header">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>

      <span translate>title</span>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>language</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeLang('tr')" translate>tr</button>
        <button mat-menu-item (click)="changeLang('en')" translate>en</button>
      </mat-menu>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
