/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.margin-left {
  margin-left: 0.5em;
}

/*#region table*/
.common-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  th,
  td {
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1em;
  }

  th.mat-header-cell {
    font-weight: Bold;
    font-size: 14px;
    letter-spacing: 0.84px;
    text-transform: uppercase;
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type {
    padding-left: 3.5em;
  }

  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type {
    padding-right: 3.5em !important;
  }

  .mat-row:nth-child(even) {
    background-color: rgba(63, 66, 71, 0.05);
  }

  .mat-row:nth-child(odd) {
    background-color: rgba(63, 66, 71, 0.1);
  }

  .mat-row {
    height: 4em !important;
    cursor: pointer;

    button {
      visibility: collapse;
    }

    &:hover {
      background-color: silver;
      font-weight: bold;

      button {
        visibility: visible;
      }
    }
  }
}

/*#endregion table*/
