<div *ngIf="user" class="edit-user-page">
  <h1>{{ user.id }}</h1>

  <form [formGroup]="form" class="form-group">
    <mat-form-field>
      <mat-label translate>name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label translate>account</mat-label>
      <input matInput formControlName="account" />
    </mat-form-field>
  </form>
  <button mat-flat-button color="warn" class="button" (click)="cancel()">
    <span translate>cancel</span>
  </button>
  <button mat-flat-button color="primary" class="button" (click)="save()">
    <span translate>save</span>
  </button>
</div>
